body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#5f4f97;
    text-align: center;
}

header {

    text-align: right;
    color: #fff;
    padding: 20px;

}

nav{
    display: inline-flex;
}

nav a {

    font-size: 20px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
}

.profile-container {

    text-align: left;
    color: black;
    width: 90%;
    height: 500px;
    display: inline-flex;
    padding: 10px;

    

}

.profile-greetings-container {

    font-size: 22px;
    color: #fff;
    margin: auto;
    width: 60%;
}

.socials-container{
    
    margin: auto;
    display: inline-flex;
    text-align: center;
}

.socials-container div{

    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.socials-container img{

    width: 100%;
    
}

.socials-container div:hover{

    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    
}

.profile-picture-container {
    margin: auto;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    border: solid 8px #35295f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutme-divisor {

    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;

}

.aboutme-container {
    
    text-align: center;
    background-color: #fff;

}

section {

    text-align: left;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    display: inline-flex;
}

.aboutme-text-container{
    width: 50%;
    padding: 10px;
}

.img-container{

    float: right;
    margin: auto;
    width: 50%;
    overflow: hidden;

}

.img-container img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*headers/about/education*/
.about-header-container {

    text-align: left;
    width: 90%;
    padding: 10px;
    color: #fff;
    

}
/*about.html*/
.about-img-container{

    float: right;
    margin: auto;
    width: 580px;


}

.about-img-container img {

    width: 100%;
    height: 100%;
    border-radius: 8px;

}
/*portfolio.html*/
.about-vid-container{

    width:  640px;
    height: 480px;
    padding-left: 40px;
    margin: auto;

}
/*contact.html*/
.contact-form form {

    margin: auto;
    width: 500px;
    display: grid;
    gap: 10px;

}

label {

    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.buttons-container {

    display: inline-flex;

}

button {

    margin: auto;
    width: 45%;
    background-color: #35295f;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilo opcional para melhorar a experiência de usuário */
input:focus,
textarea:focus {
    border: 2px solid #4caf50;
    outline: none;
}
