<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Rafael Joelson</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'about' %}">SOBRE</a>
            <a href="{% url 'education' %}">FORMAÇÃO</a>
            <a href="{% url 'portfolio' %}">PORTIFÓLIO</a>
            <a href="{% url 'contact' %}">CONTATO</a>
        </nav>
        <div class="about-header-container">
            <h1>Rafael Joelson</h1>
            <h4>"Diante da vastidão do tempo e da imensidão do universo, é um imenso prazer para mim dividir um planeta e uma época com você." - Carl Sagan</h4>
        </div>
    </header>
    <div class="aboutme-divisor">
        <h2>Sobre mim</h2>
    </div>
    <div class="aboutme-container">
        <section class="about">
            <article class="aboutme-text-container">
                <h2>Saudações, colegas humanos!</h2>
                <p>Me chamo Rafael Joelson, um entusiasta do desenvolvimento web em busca de desafios.</p>
                <h3>Perfil Profissional</h3>
                <p>Com uma abordagem proativa e uma pitada de bom humor, estou sempre pronto para enfrentar os desafios do mundo da programação. Além de ser apaixonado por resolver problemas, também valorizo a comunicação eficaz e o trabalho colaborativo.</p>
                <h3>Superpoderes</h3>
                <ul>
                    <li><strong>Proatividade:</strong> Consigo antecipar problemas antes mesmo de eles saberem que existem.</li><br>
                    <li><strong>Persistência:</strong> Determinado e dedicado, não descanso até encontrar a solução.</li><br>
                    <li><strong>Habilidade:</strong> Posso fazer um código tão elegante que os bugs se recusam a aparecer.</li><br>
                    <li><strong>Flexibilidade:</strong> Adapto-me rapidamente a novos ambientes e desafios.</li><br>
                    <li><strong>Empatia:</strong> Meu radar de empatia está sempre ligado, pronto para entender e apoiar os outros.</li><br>
                    <li><strong>Curiosidade:</strong> Sou movido pela curiosidade, sempre ansioso para aprender algo novo e explorar o desconhecido.</li><br>
                    <li><strong>Colaboração:</strong> Acredito que grandes coisas acontecem quando trabalhamos juntos. Estou sempre pronto para colaborar e compartilhar conhecimento.</li><br>
                </ul>
                <h4>Vida longa e próspera!</h4>
            </article>
            <div class="about-img-container">
                <img src="{% static 'imgs/joelson2.png' %}" alt="Foto de perfil do Rafael em postura confiante">
            </div>
        </section>
    </div>
    <footer>
        <p>Site desenvolvido por Rafael Joelson</p>
    </footer>
</body>
</html>
