<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Rafael Joelson</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'about' %}">SOBRE</a>
            <a href="{% url 'education' %}">FORMAÇÃO</a>
            <a href="{% url 'portfolio' %}">PORTIFÓLIO</a>
            <a href="{% url 'contact' %}">CONTATO</a>

        </nav>
    </header>
    <div class="profile-container">
        <div class="profile-greetings-container">
            <h1>Olá, Tudo Bem? Me chamo Rafael.</h1>
            <p>Estou pronto para encarar desafios e crescer como desenvolvedor. Quero aprender e evoluir.
                Conheça um pouco mais sobre minha paixão pela programação.</p>
            <div class="socials-container">
                <div><a href="https://www.linkedin.com/in/rafael-joelson-3a63aa7a/"><img src="{% static 'imgs/linkedin.png' %}" alt="icone da linkedin"></a></div>
                <div><a href="https://www.facebook.com/rafael.joelsondasilva"><img src="{% static 'imgs/facebook.png' %}" alt="icone do facebook"></a></div>
                <div><a href="https://www.instagram.com/rafaeljoelson/"><img src="{% static 'imgs/instagram.png' %}" alt="icone do instagram"></a></div>
            </div>
        </div>
        <div class="profile-picture-container">
            <img src="{% static 'imgs/joelson.png' %}" alt="Foto de perfil do Rafael Joelson">
        </div>
    </div>
    <div class="aboutme-divisor">
        <h2>Um pouco sobre mim</h2>
    </div>
    <div class="aboutme-container">
        <section>
            <article class="aboutme-text-container">
                <h2>Minha Jornada como Desenvolvedor</h2>
                <p>Concluí minha formação como técnico em informática pelo Instituto Federal de Educação, Ciência e Tecnologia do Sudeste de Minas Gerais - Campus São João Del-Rei.
                    O IF Sudeste MG é reconhecido com nota máxima pelo Ministério da Educação e destaca-se pela excelência na formação tecnológica.</p>
                <p>Ingressei no curso em 2021, e já no primeiro período, tive a oportunidade de explorar disciplinas voltadas para o desenvolvimento, o que se revelou uma verdadeira descoberta para mim. Naquele momento, percebi que desejava trilhar o caminho de um desenvolvedor.</p>
            </article>
        </section>
    </div> 
    <footer>
        <p>Site desenvolvido por Rafael Joelson</p>
    </footer>
</body>
</html>
